@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #1E1C21;
    height: 80px;
}

.menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.banner{
    height: 600px;
    background-image: url(../img/ImagemBanner.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-banner{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center; /* Centralizando */ 
    
}

.posicao-texto{
    justify-content: flex-end;
}

.texto-banner h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    font-weight:900;
}

.texto-banner a{
    background-color: #C31616;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 6px;
}

.texto-banner p{
    margin-bottom: 50px ;
}

.section-jogos{
    background-color: black;
    height: 100px;
}

.jogos{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    height: 100px;
}

.section-sobre{
    background-image: url(../img/Fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-sobre{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.barras{
    display: none;
    width: 38px;
}

.posicionamento-header{
    position: relative;
}

footer{
    background-color: #010101;
}

.links{
    color: white;
}

.sociais{
    color: white;
}
.links-footer{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.links-footer h2{
    font-size: 22px;
}

.links a{
    text-decoration: none;
    color: white;
}

.logo-footer{
    width: 300px;
    height: 40px;
}

#carrossel img{
    display: none;
    width: 100%;
}

.banner-ativo{
    display: flex;
}

.section-ofertas{
    background-color: #1E1C21;
}

.ofertas{
    color: white;
}

.cards{
    margin: 35px;
    /* colocando o gradiente no backgroud: */
    background-image: linear-gradient(white, black);
    /* Aplicando uma sombra */
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.77);
}

.cards img{
    width: 100%;
}

.cards button{
    background-color: red;
    padding: 5px;
    border-style: none;
    border-radius: 6px;
    border: none;
    margin: 10px;
    width: 80%;
}

.ofertas h2{
    padding: 15px;
}


/* desktop */
@media screen and (max-width:1200px) {
    .container-grid{
        width: 90%;
    }

    .menu a{
        font-size: 16px;
    }

    .logo{
        width: 200px;
    }
}

/* tablet */
@media screen and (max-width:780px){
    .menu{
        display: none;
        flex-direction: column;
        width: 200px;
        height: 200px;
        /* O position, é o posicionamento dos elementos no HTML. Inicalmente, todos os elementos são estáticos (position:static) */
        position: fixed;
        top: 0;
        right: 0;
        background-color: #1E1C21;
    }
    .barras{
        display: inline-block;
    }

    .menu a {
        text-align: right;
        padding: 5px;
    }
    .menu-ativo{
        display: flex;
    }

}

/* mobile */